--extra-index-url https://download.pytorch.org/whl/cpu
torch
psycopg2-binary
python-dotenv
pandas
polars
telethon
google-api-python-client
emoji
tqdm
contractions
apscheduler
google-api-python-client
transformers
vaderSentiment
prophet
scikit-learn
xgboost
joblib